<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/bonds/treasuryyields.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from pandas_datareader import DataReader as pdr

files = ['DGS'+x for x in ['1','5','10','20']]

df = None
for f in files :
    d = pdr(f,'fred',start=1920)
    df = pd.concat((df,d),axis=1)
df

            DGS1  DGS5  DGS10  DGS20
DATE
1962-01-02  3.22  3.88   4.06   4.07
1962-01-03  3.24  3.87   4.03   4.07
1962-01-04  3.24  3.86   3.99   4.06
1962-01-05  3.26  3.89   4.02   4.07
1962-01-08  3.31  3.91   4.03   4.08
...          ...   ...    ...    ...
2022-04-13  1.78  2.66   2.70   2.97
2022-04-14  1.84  2.79   2.83   3.09
2022-04-15   NaN   NaN    NaN    NaN
2022-04-18  1.84  2.79   2.85   3.12
2022-04-19  1.94  2.91   2.93   3.19

[15731 rows x 4 columns]