In [2]:
import pandas as pd
import numpy as np
try :
    from pandas_datareader import DataReader as pdr
except :
    !pip install pandas-datareader
    from pandas_datareader import DataReader as pdr

files = ['DGS'+x for x in ['1','5','10','20']]

df = None
for f in files :
    d = pdr(f,'fred',start=1920)
    df = pd.concat((df,d),axis=1)
df.index.name = 'date'
df.columns = [1,5,10,20]
df.head()

              1     5     10    20
date
1962-01-02  3.22  3.88  4.06  4.07
1962-01-03  3.24  3.87  4.03  4.07
1962-01-04  3.24  3.86  3.99  4.06
1962-01-05  3.26  3.89  4.02  4.07
1962-01-08  3.31  3.91  4.03  4.08