<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/borrowing_saving/inflation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import DataReader as pdr

# get inflation data
df = pdr('CPIAUCSL','fred',start='1949-12-01')
df = df.resample('Y').last().iloc[:-1]
df = df.pct_change().reset_index()
df.columns = ['Year','Inflation']
df['Year'] = df.Year.map(lambda x: x.year)
df

    Year  Inflation
0   1949        NaN
1   1950   0.058026
2   1951   0.059648
3   1952   0.009067
4   1953   0.005990
..   ...        ...
68  2017   0.021299
69  2018   0.019152
70  2019   0.022617
71  2020   0.012782
72  2021   0.070965

[73 rows x 2 columns]

In [2]:
y = 0.1                                         # example nominal return
i = float(df[df["Year"] == 2021]["Inflation"])  # inflation rate in 2021
r = (1+y) / (1+i) - 1                           # real rate of return
print("The real rate of return of an asset with", y, "nominal return in 2021 is", r)

The real rate of return of an asset with 0.1 nominal return in 2021 is 0.027110657347051204