<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/borrowing_saving/retirement_planning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

def data(initial_balance,years_saving,years_withdrawing,initial_deposit,deposit_growth_rate,withdrawals,rate_of_return) :
    
    # monthly rates 
    deposit_growth_rate = (1 + deposit_growth_rate)**(1/12) - 1
    rate_of_return = (1 + rate_of_return)**(1/12) - 1
    
    # number of months
    months_saving = 12*years_saving
    months_withdrawing = 12*years_withdrawing
    
    # initialize data frame
    df = pd.Series(dtype=float,index=range(months_saving+months_withdrawing+1))
    
    # add initial balance and all savings
    df[0] = initial_balance
    for i in range(1,months_saving+1) :
        df[i] = df[i-1]*(1+rate_of_return) + initial_deposit*(1+deposit_growth_rate)**(i-1)
        
    # add initial withdrawal and all subsequent withdrawals
    # withdrawals occur at beginning of month = end of prior month
    # all balances are end of month, so withdrawals are recorded in the prior month
    # at months_saving, there is both a deposit (last deposit) and withdrawal (first withdrawal)
    df[months_saving] -= withdrawals
    for i in range(months_saving+1,months_saving+months_withdrawing) :
        df[i] = df[i-1]*(1+rate_of_return) - withdrawals
        
    # add growth in the account in the last month (after the final withdrawal)
    df[months_saving+months_withdrawing] = df[months_saving+months_withdrawing-1]*(1+rate_of_return)
    
    # clean up data frame, index is range(0,total months), move it to a column and divide by 12 
    # to convert to years
    df = pd.DataFrame(df).reset_index()
    df.columns = ['year','balance']
    df['year'] = df.year/12
    return df

# example

initial_balance = 100000
years_saving = 30
years_withdrawing = 30
initial_deposit = 2000
deposit_growth_rate = 0.02
withdrawals = 8000
rate_of_return = 0.06

df = data(initial_balance,years_saving,years_withdrawing,initial_deposit,deposit_growth_rate,withdrawals,rate_of_return)
df

          year       balance
0     0.000000  1.000000e+05
1     0.083333  1.024868e+05
2     0.166667  1.049889e+05
3     0.250000  1.075066e+05
4     0.333333  1.100398e+05
..         ...           ...
716  59.666667  9.350565e+06
717  59.750000  9.388080e+06
718  59.833333  9.425777e+06
719  59.916667  9.463657e+06
720  60.000000  9.509722e+06

[721 rows x 2 columns]